<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <div class="columns"  id="chat">
        <div class="column">
            <div>
                <input type="text" v-model="sendMsg" placeholder="type message">
                <button v-on:click="sendMessage2All">Send</button>
            </div>
            <ul>
                <li v-for="chat in chats"> {{ chat }}</li>
            </ul>
        </div>
        <div class="column">
            <div>
                <article v-for="msg in remoteData" class="message">
                    <div class="message-header">
                        <p class="name">{{ msg.name }}</p>
                        <p class="date">{{ msg.time }}</p>
                    </div>
                    <div class="message-body">
                        <a target="_blank" v-bind:href="msg.info.text" v-if="msg.info.isLink">{{ msg.info.text }}</a>
                        <span v-if="!msg.info.isLink">{{ msg.info.text }}</span>
                    </div>
                </article>
            </div>
        </div>

    </div>

    <script src="app/main.js"></script>
</body>
</html>